<div>
  <h1>{{homeCtrl.message}}</h1>
  <h4>Welcome to Home Page</h4>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit aspernatur
    nostrum nobis facere quis voluptas ipsum! Odit eos nulla vel voluptates delectus
    deleniti cum facere harum, esse quaerat, minus animi?</p>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit aspernatur
    nostrum nobis facere quis voluptas ipsum! Odit eos nulla vel voluptates delectus
    deleniti cum facere harum, esse quaerat, minus animi?</p>
  <br>
</div>